<article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting" class="post">
  {{ .Render "header" }}

  {{ if .Site.Params.socialShare }}
    <section id="social-share">
      <ul class="icons">
        {{ partial "share-links" . }}
      </ul>
    </section>
  {{ end }}

  {{ .Render "featured" }}

  {{ if ( or ( gt .WordCount 80) (.Params.toc )) }}
  <details open id="details" class='container entry-toc'>
    <summary style="outline: 0;" class='title'>
      <i style="color:#4f9a98;"class="fa fa-chevron-circle-right"></i>
      <span>&nbsp;{{- i18n "tableOfContents" -}}</span>
    </summary>
    <!-- {{ .TableOfContents }} -->
    {{ partial "toc-hash" .TableOfContents }}
  </details>
  <hr>
  {{ end }}
  <article itemprop="articleBody" id="content">
    {{ partial "headline-hash" .Content }}
  </article>

  <footer>
    {{ .Render "footer-category" }}
  </footer>

</article>
{{ .Render "comments" }}
{{ .Render "prev-next" }}
